* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


:root {
    --inter: ' Inter', sans-serif;
}

:root {
    --roboto: "Roboto", sans-seri;
}


.container {
    max-width: 1160px;
    height: auto;
    margin: 0 auto;
}


/* ================= STARTED STYLES OF header SECTION =================  */
header {
    width: 100%;
    height: 51.86px;
    display: flex;
    align-items: center;
}

.header-border__bottom {
    width: 93%;
    height: 2px;
    background-color: #e6e6eb;
    margin: 0 auto;
    display: none;
}

header .header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_border {
    width: 90%;
    height: 2px;
    background-color: #e6e6eb;
    margin: 0 auto;
    display: none;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headers__location {
    width: 76px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(0, 0, 0, 1);
}

.headers__location img {
    color: rgba(0, 0, 0, 1);
    width: 9px;
    height: 11px;
}

.headers__location h2 {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
}

.meniButton {
    width: auto;
    height: auto;
    display: none;
}

.meniButton .line {
    width: 24px;
    height: 3px;
    margin-top: 4px;
    background-color: rgba(0, 0, 0, 1);
}

.headers__searchandshop {
    width: 68px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3px;
}

.headers__searchandshop .button1,
.button2 {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.headers__searchandshop img {
    width: auto;
    height: 24px;
}
/* ================= ENDED STYLES OF HEADER SECTION =================  */




/* ================= STARTED STYLES OF NAV SECTION =================  */
nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    width: 554px;
    margin: 0 auto;
    justify-content: space-between;
}

nav ul li a {
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 1);
}

/* ================= /ENDED STYLES OF NAV SECTION =================  */



/* ================= STARTED STYLES OF INTO__MAIN-SECTION  =================  */

.intro__main-section {
    width: 100%;
    height: auto;
}

.intro__main-sectionCard1 {
    width: 100%;
    height: 220px;
    background-color: #efefef;
    margin-top: 36px;
}

.intro__main-sectionCard1 .infos-card1 {
    width: auto;
    height: auto;
    position: absolute;
    margin-left: 81px;
    display: inline-block;
    margin-top: 43px;
}

.infos-card1 h2 {
    font-family: var(--roboto);
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-top: 18px;
}

.infos-card1 h3,
h5 {
    display: none;
}

.infos-card1 h4 {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 12px;
}

.intro__main-sectionCard1 button {
    width: 138px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 16px;
}

.intro__main-sectionCard1 h6 {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.intro__main-sectionCard1 img {
    width: auto;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.intro__main-section i {
    margin-left: 9px;
}
/* ================= ENDED STYLES OF INTO__MAIN-SECTION  =================  */



/* =================  /startED STYLES OF first MAIN SECTION =================  */
.first-main__section {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.first-main__section .first-main__section-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.first-main__section-cards .cards-card1,
.cards-card2 {
    width: 560px;
    height: 221px;
    background-color: #efefef;
    position: relative;
    display: flex;
}

.card1-infos {
    width: auto;
    height: auto;
    margin-left: 80px;
    z-index: 1;
    margin-top: 46px;
}

.cards-card1 h2 {
    font-family: var(--roboto);
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
}

.cards-card1 p {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 12px;
}

.cards-card1 button {
    color: rgba(0, 0, 0, 1);
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    border: none;
    background-color: inherit;
    cursor: pointer;
    margin-top: 12px;
}

.first-main__section-cards img {
    height: 100%;
    width: auto;
    position: absolute;
    right: 24px;
}

.card2-infos {
    width: auto;
    height: auto;
    margin-left: 80px;
    z-index: 1;
    margin-top: 46px;
}

.cards-card2 h2 {
    font-family: var(--roboto);
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
}

.cards-card2 p {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 12px;
}

.cards-card2 button {
    color: rgba(0, 0, 0, 1);
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    border: none;
    background-color: inherit;
    cursor: pointer;
    margin-top: 12px;
}


.first-main__section-cards img {
    height: 100%;
    width: auto;
    position: absolute;
    right: 24px;
}
/* =================  /ENDED STYLES OF first MAIN SECTION =================  */



/* =================  /startED STYLES OF second MAIN SECTION =================  */
.second-main__section {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.secont-main__sextion-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

.secont-main__sextion-header h1 {
    font-family: var(--inter);
    font-size: 24px;
    font-weight: 500;
}

.carouselBtn {
    width: 120px;
    display: flex;
    justify-content: space-evenly;
}
.carouselBtn i {
    cursor: pointer;
}

.second-main__section-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 36px;
}

.second-main__section-cards .card {
    width: 260px;
    height: 366px;
}

.cardn1 h4 {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 14px;
}

.cardn1 .del {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.cardn1 .del h6 {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    margin-right: 10px;
}
.cardn1 .del p {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(130, 130, 139, 1);
    margin-left: 10px;
    text-decoration: line-through;
}

.cardn2 h4 {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 14px;
}

.cardn2 h6 {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 12px;
}


.cardn3 h4 {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 14px;
}

.cardn3 h6 {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 12px;
}

.cardn4 h4 {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 14px;
}
.cardn4 h6 {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 12px;
}

.intro-main__section-seeMore {
    display: none;
}
/* =================  /ENDED STYLES OF second MAIN SECTION =================  */



/* =================  /startED STYLES OF THIRD MAIN SECTION =================  */
.third-main__section {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.third-main__sextion-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

.third-main__sextion-header h1 {
    font-family: var(--inter);
    font-size: 24px;
    font-weight: 500;
}

.carouselBtn {
    width: 120px;
    display: flex;
    justify-content: space-evenly;
}
.carouselBtn i {
    cursor: pointer;
}

.third-main__section-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 36px;
}

.third-main__section-cards .card {
    width: 260px;
    height: 366px;
}

.cardn1 h4 {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 14px;
}

.cardn2 h4 {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 14px;
}

.cardn2 h6 {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 12px;
}

.cardn3 h4 {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 14px;
}

.cardn3 h6 {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 12px;
}

.cardn4 h4 {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
}

.cardn4 h4 {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 14px;
}

.cardn4 .del {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.cardn4 .del h6 {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    margin-right: 10px;
}
.cardn4 .del p {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(130, 130, 139, 1);
    margin-left: 10px;
    text-decoration: line-through;
}
.intro-main2__section-seeMore {
    display: none;
}
/* =================  /ENDED STYLES OF THIRD MAIN SECTION =================  */



/* ================= STARTED STYLES OF FOOTER =================  */
footer {
    width: 100%;
    height: 356px;
    background-color: #f9f9fb;
    position: absolute;
    margin-top: 80px;
}

.footer-kontainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .foter-items {
    width: 80%;
    height: 240px;
    display: flex;
    justify-content: space-around;
}

.foter-item1 {
    width: 120px;
    height: auto;
    display: inline-block;
    height: 120px;
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foter-item1 h2 {
    color: rgba(0, 0, 0, 1);
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}
.foter-item1 p {
    color: rgba(0, 0, 0, 1);
    font-family: var(--inter);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
}

footer .foter-item1 .foter-images {
    width: 112px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

footer .foter-item1 .foter-images img {
    width: 24px;
    height: 24px;
}

footer a {
    margin-bottom: 12px;
}

.foter-item2 {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-between;
    margin-top: 58px;
}

.foter-item2 a {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.foter-item3 {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 58px;
}

.foter-item3 a {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.foter-item4 {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-between;
    margin-top: 58px;
}

.foter-item4 a {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.footer-border {
    width: 100%;
    height: 2px;
    background-color: #ecedf1;
    margin-top: 48px;
}

footer .copyright {
    color: rgba(175, 177, 189, 1);
    font-family: var(--inter);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 12px;
}
footer .foter-items a:hover{
    text-decoration: underline;
}
/* ================= ENDED STYLES OF FOOTER =================  */






/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

    /* header styles started */
    .headers__location{
        margin-left: 24px;
    }
    .headers__searchandshop{
        margin-right: 24px;
    }
    
    /* header styles ended */
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .headers__location{
        margin-left: 24px;
    }
    .headers__searchandshop{
        margin-right: 24px;
    }
    

    .first-main__section .first-main__section-cards {
        width: 100%;
        height: auto;
        display: block;
    }

    .first-main__section-cards .cards-card1,
    .cards-card2 {
        width: 100%;
        height: 221px;
        background-color: #efefef;
        position: relative;
        display: flex;
    }

    .card1-infos,
    .card2-infos {
        margin-left: 24px;
        width: auto;
    }

    .intro-main__section .card {
        width: auto;
        height: 220px;
    }

    .second-main__section {
        padding: 0 24px;
    }

    .third-main__section {
        padding: 0 24px;
    }

    footer {
        padding: 0 24px;
    }

    .carouselBtn {
        display: none;
    }
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    /* -----header styles started----- */
    header {
        margin-top: 18px;
    }

    .header-border__bottom {
        display: block;
        margin-top: 16px;
    }

    .header {
        padding: 0 16px;
    }

    .headers__location {
        display: none;
    }

    .meniButton {
        display: block;
    }
    /* header styles ended */


    /* nav styles started */
    nav {
        display: none;
    };
    /* -----nav styles ended----- */


    /* -----intro main section started----- */
    .intro__main-section {
        margin-top: 24px;
        width: 90%;
    }

    .main-intro {
        width: 100%;
        height: auto;
        padding: 12px;
    }

    .intro__main-sectionCard1 {
        width: 100%;
        height: 220px;
        background-color: #efefef;
        margin-top: 36px;
        border-radius: 4px;
    }

    .intro__main-sectionCard1 .infos-card1 {
        width: auto;
        height: auto;
        position: absolute;
        margin-left: 58px;
        display: inline-block;
        margin-top: 43px;
    }

    .infos-card1 h2 {
        display: none;
    }

    .intro__main-sectionCard1 button {
        width: 120px;
        height: 46px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 24px;
        margin-left: -40px;
        background-color:#595cff;
    }

    .infos-card1 h3 {
        display: block;
        font-family: var(--inter);
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0;
        margin-left: -40px;
    }

    .infos-card1 h5 {
        display: block;
        font-family: var(--inter);
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0;
        margin-left: -40px;
        margin-top: 10px;
    }

    .infos-card1 h4 {
        display: none;
    }

    .intro__main-sectionCard1 img {
        width: auto;
        height: 100%;
        margin: 0 0 0 150px;
        display: block;
    }

    .intro-main__section-carousel {
        width: 50%;
        height: 8px;
        display: flex;
        justify-content: center;
        margin: -30px auto 0;
    }
    .intro-main__section-carousel .carousel-kontainer {
        width: 40px;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 255, 0);
    }

    .intro-main__section-carousel div {
        width: 8px;
        height: 8px;
        border-radius: 50px;
        background-color: rgba(175, 177, 189, 1);
        cursor: pointer;
    }
    /* -----into main section ended----- */


    /* -----FIRST MAIN SECTION START----- */
    .first-main__section {
        display: none;
    }
    /* -----FIRST MAIN SECTION END----- */


    /* -----SECOND MAIN SECTION START----- */
    .second-main__section {
        padding: 0;
    }

    .secont-main__sextion-header {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        padding: 0 16px;
    }

    .carouselBtn {
        display: none;
    }

    .second-main__section-cards {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 36px;
    }

    .second-main__section-cards .card {
        width: 170px;
        height: 264px;
        border-radius: 4px;
        margin-bottom: 18px;
    }

    .second-main__section-cards img {
        width: 170px;
        height: auto;
        border-radius: 4px;
    }


    .intro-main__section-seeMore {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .intro-main__section-seeMore button {
        width: 142px;
        height: 42px;
        border-radius: 4px;
        background-color: inherit;
        border: solid 2px #595cff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 14px;
        cursor: pointer;
    }
    .intro-main__section-seeMore button p {
        font-family: var(--inter);
        font-size: 14px;
        font-weight: 500;
    }
    /* -----SECOND MAIN SECTION END----- */



    /* -----third MAIN SECTION start----- */
    .third-main__sextion-header {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        padding: 0 16px;
    }

    .third-main__section-cards {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 36px;
    }

    .third-main__section-cards .card {
        width: 170px;
        height: 264px;
        border-radius: 4px;
        margin-bottom: 18px;
    }

    .third-main__section-cards img {
        width: 170px;
        height: auto;
        border-radius: 4px;
    }

    .third-main__section {
        padding: 0;
    }

    .intro-main2__section-seeMore {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .intro-main2__section-seeMore button {
        width: 142px;
        height: 42px;
        border-radius: 4px;
        background-color: inherit;
        border: solid 2px #595cff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 14px;
        cursor: pointer;
    }
    .intro-main2__section-seeMore button p {
        font-family: var(--inter);
        font-size: 14px;
        font-weight: 500;
    }
    /* -----third MAIN SECTION END----- */


    /* ----footer start----*/
    footer {
        width: 100%;
        height: auto;
    }
    footer .foter-items {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        padding: 0 12px;
    }

    .foter-item2,
    .foter-item3,
    .foter-item4 {
        width: 140px;
        height: auto;
        margin-left: 6px;
    }

    .foter-item3 {
        margin-left: 6px;
    }
    .foter-item1 {
        width: 100%;
        height: auto;
        height: auto;
        margin-top: 58px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    footer {
        padding: 0;
    }


    .footer-border {
        width: 90%;
        height: 2px;
        background-color: #eaebef;
        margin-top: 48px;
        margin-left: 22px;

    }

    footer .copyright {
        color: rgba(175, 177, 189, 1);
        font-family: var(--inter);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0;
        text-align: left;
        margin-top: 12px;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 24px;
    };
    /* /---footer end--- */
}



/* Extra small devices (phones, 460px and down) */
@media only screen and (max-width: 460px) {
    .foter-item4 {
        margin-top: 6px;
    }
    .intro__main-sectionCard1 img {
        width: auto;
        height: 100%;
        margin: 0;
        display: block;
    }

    .copyright {
        display: flex;
        align-items: center;
    }

    footer .container {
        margin-bottom: 12px;
    }

    .foter-item {
        margin-bottom: 16px;
        margin-right: 12px;
    }
}
